.home-banner{
    background-image: url('../../../Image/bannar.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    color: aliceblue;
}
.header-left{
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 40px;
    text-align: left;
}

.restaurant img{
    float: left;
    margin-right:5px;
    height: 120px;
    width: 120px;
    margin-top: 3px;
}
.restaurant img:hover{
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.banner{
    margin-bottom: 400px;
}
.banner img{
    height: 400px;
    width: 400px;
    

}
.orderbtn{
    margin-right:16px
}
.order-banner-left{
    margin-top: 50px;
    margin-left: 30px;
    margin-bottom: 40px;
    text-align: left;
}
.order-banner{
    margin: 10px;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

/* Make it responsive */
@media only screen and (max-width:688px) {
    .service-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .service-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
